html,
body,
canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.body{
  -webkit-perspective: 0px !important; 
  -webkit-backface-visibility: visible !important;
  -webkit-transform: translate3d(0,0,0);

}

video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
}

form {
  position: absolute;
  right: 10px;
  bottom: 10px;
  text-align: right;
}

form label {
  background: white;
  font-family: sans-serif;
  padding: 5px 10px;
  border-radius: 100px;
  cursor: pointer;
  display: inline-block;
}

form label~label {
  margin-top: 5px;
}

form span,
form input {
  vertical-align: middle;
  display: inline-block;
}

canvas {
  position: fixed;
  z-index: 1000;
}

.logo {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 50%;
  margin-top: -119px;
  margin-left: -193px;
  /* width: 400px; */
  /* backface-visibility: hidden;
  transform: translateZ(0);
  -webkit-font-smoothing: subpixel-antialiased; */
  
}



.container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0px;
  margin-left: -144px;
  display: grid;
  z-index: 1001;
  grid-template-columns: 144px 144px;
  grid-template-rows: repeat (6, 55px) ;
}

