html, body {
    position: relative;
    height: 100%;
  }
  body {
    background: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:white;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: 600px;
  }
  .swiper-slide {
    width: 800px;
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  /* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
  }
  
  .navbar .media li {
    display: inline-block;
    padding-left: 24px;
    font-style: italic;
  }
  
  .navbar .media li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
  }
  
  .navbar .logo i {
    padding-right: 24px;
  }

  .navbar .logo img {
      height: 60px;
padding: 20px 0 0 0;}

  
  /* LETTERS */

.letters h1 {
    font-size: 70px;
    text-align: center;
    margin: 15px 0px 25px 0px;
  }
  
  /* bg text */
  
  .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: -1;
  
  }
  
  .bg-text h1 {
    font-size: 300px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 3px #444;
    text-transform: uppercase;
  }