html, body {
    position: relative;
    height: 100%;
    overflow-x: hidden;
  }
  body {
    background: black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:white;
    margin: 0;
    padding: 0;
  }

  /* preloader */
#preloader{
  /* background: rgba(194,255,37,1); */
  background: black;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0;
  margin: 0;
}

.overlay-loader {
display: block;
margin: auto;
width: 100px;
height: 100px;
  transform-origin: center;
position: relative;
top: 45%;
left: 0;
right: 0;
bottom: 0;
}
.loader {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 100px;
height: 100px;
animation-name: rotateAnim;
  -o-animation-name: rotateAnim;
  -ms-animation-name: rotateAnim;
  -webkit-animation-name: rotateAnim;
  -moz-animation-name: rotateAnim;
animation-duration: 1.4s;
  -o-animation-duration: 1.4s;
  -ms-animation-duration: 1.4s;
  -webkit-animation-duration: 1.4s;
  -moz-animation-duration: 1.4s;
animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
.loader div {
width: 8px;
height: 8px;
border-radius: 50%;
border: 1px solid rgb(255,255,255);
position: absolute;
top: 2px;
left: 0;
right: 0;
bottom: 0;
margin: auto;
}
.loader div:nth-child(odd) {
border-top: none;
border-left: none;
}
.loader div:nth-child(even) {
border-bottom: none;
border-right: none;
}
.loader div:nth-child(2) {
border-width: 2px;
left: 0px;
top: -4px;
width: 12px;
height: 12px;
}
.loader div:nth-child(3) {
border-width: 2px;
left: -1px;
top: 3px;
width: 18px;
height: 18px;
}
.loader div:nth-child(4) {
border-width: 3px;
left: -1px;
top: -4px;
width: 24px;
height: 24px;
}
.loader div:nth-child(5) {
border-width: 3px;
left: -1px;
top: 4px;
width: 32px;
height: 32px;
}
.loader div:nth-child(6) {
border-width: 4px;
left: 0px;
top: -4px;
width: 40px;
height: 40px;
}
.loader div:nth-child(7) {
border-width: 4px;
left: 0px;
top: 6px;
width: 50px;
height: 50px;
}


@keyframes rotateAnim {
from {
  transform: rotate(360deg);
}
to {
  transform: rotate(0deg);
}
}

@-o-keyframes rotateAnim {
from {
  -o-transform: rotate(360deg);
}
to {
  -o-transform: rotate(0deg);
}
}

@-ms-keyframes rotateAnim {
from {
  -ms-transform: rotate(360deg);
}
to {
  -ms-transform: rotate(0deg);
}
}

@-webkit-keyframes rotateAnim {
from {
  -webkit-transform: rotate(360deg);
}
to {
  -webkit-transform: rotate(0deg);
}
}

@-moz-keyframes rotateAnim {
from {
  -moz-transform: rotate(360deg);
}
to {
  -moz-transform: rotate(0deg);
}
}

  .swiper-container {
    width: 100%;
    height: 600px;
  }
  .swiper-slide {
    width: 800px;
    text-align: center;
    font-size: 18px;
    background: transparent;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  /* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
  }
  
  .navbar .media li {
    display: inline-block;
    padding-left: 24px;
    font-style: italic;
  }
  
  .navbar .media li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
  }
  
  .navbar .logo i {
    padding-right: 24px;
  }

  .navbar .logo img {
      height: 60px;
padding: 20px 0 0 0;}

  
  /* LETTERS */

  h1{
    margin: 0.67em 0 0 0;
  }

.letters h1 {
    font-size: 70px;
    text-align: center;
    margin: 15px 0px 25px 0px;
  }
  
  /* bg text */
  
  .bg-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.3;
    z-index: -1;
  
  }
  
  .bg-text h1 {
    font-size: 300px;
    text-align: center;
    color: transparent;
    -webkit-text-stroke: 3px #444;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 900px){
    .bg-text h1{
      font-size: 20vh;
    }
  }