* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

html,
body {
    margin: 0;
    /* height: 100%; */
    max-width: 100%;
    overflow: hidden;
}

/* navigation */

.navbar{
    font-family: Helvetica;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
  }


  
  .navbar .media li {
    display: inline-block;
    padding-left: 24px;
    font-style: italic;
  }
  
  .navbar .media li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
  }
  
  .navbar .logo i {
    padding-right: 24px;
  }

  .navbar .logo img {
      height: 60px;
padding: 0 0 0 0;}


h1 {
    width: 70%;
    margin: 0;
    padding: 0;
    font-size: 6em;
    text-align: center;
    font-family: Helvetica;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);
    z-index:0;
    pointer-events: none;
}

.main {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-color: #b62561;
}

.kurt-1 {
    width: 12vw;
    position: absolute;
    left: 30%;
    top: 59%;
    z-index: 1;
}

.kurt-2 {
    width: 20vw;
    position: absolute;
    left: 64%;
    top: 15%;
    z-index: 1;
}

.kurt-3 {
    width: 14vw;
    position: absolute;
    left: 21%;
    top: 0%;
    z-index: 1;
}

.kurt-4 {
    width: 10vw;
    position: absolute;
    left: 1%;
    top: 50%;
    z-index: 1;
}

.kurt-5 {
    width: 15vw;
    position: absolute;
    left: 40%;
    top: 12%;
    z-index: 1;
}

.kurt-6 {
    width: 10vw;
    position: absolute;
    left: 80%;
    top: 82%;
    z-index: 1;
}

.kurt-7 {
    width: 17vw;
    position: absolute;
    left: 7%;
    top: 72%;
    z-index: 1;
}

.kurt-8 {
    width: 12vw;
    position: absolute;
    left: 0%;
    top: 9%;
    z-index: 1;
}



.kurt-1 img, .kurt-2 img, .kurt-3 img, .kurt-4 img, .kurt-5 img, .kurt-6 img, .kurt-7 img,  .kurt-8 img {
    width: 100%;
}


.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #f17d0d;
    z-index: 0;


}

@media screen and (min-width: 900px) and (max-width : 1100px) {

    h1{
        top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    }


}


@media screen and (max-width: 900px) {
    h1{
        top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3em;
    }
}