* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
}

html,
body {
    margin: 0;
    /* height: 100%; */
    max-width: 100%;
    overflow: hidden;
    font-family: 'horus', sans-serif;
    
}

p{
    margin: 10px 0 10px 0;
    text-align: center;
    font-size: 24px;
}

/* preloader */
#preloader{
    /* background: rgba(194,255,37,1); */
    background: #060606;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0;
    margin: 0;
  }

.overlay-loader {
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
    transform-origin: center;
	position: relative;
	top: 45%;
	left: 0;
	right: 0;
	bottom: 0;
}
.loader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 100px;
	height: 100px;
	animation-name: rotateAnim;
		-o-animation-name: rotateAnim;
		-ms-animation-name: rotateAnim;
		-webkit-animation-name: rotateAnim;
		-moz-animation-name: rotateAnim;
	animation-duration: 1.4s;
		-o-animation-duration: 1.4s;
		-ms-animation-duration: 1.4s;
		-webkit-animation-duration: 1.4s;
		-moz-animation-duration: 1.4s;
	animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
	animation-timing-function: linear;
		-o-animation-timing-function: linear;
		-ms-animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
}
.loader div {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 1px solid rgb(255,255,255);
	position: absolute;
	top: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
.loader div:nth-child(odd) {
	border-top: none;
	border-left: none;
}
.loader div:nth-child(even) {
	border-bottom: none;
	border-right: none;
}
.loader div:nth-child(2) {
	border-width: 2px;
	left: 0px;
	top: -4px;
	width: 12px;
	height: 12px;
}
.loader div:nth-child(3) {
	border-width: 2px;
	left: -1px;
	top: 3px;
	width: 18px;
	height: 18px;
}
.loader div:nth-child(4) {
	border-width: 3px;
	left: -1px;
	top: -4px;
	width: 24px;
	height: 24px;
}
.loader div:nth-child(5) {
	border-width: 3px;
	left: -1px;
	top: 4px;
	width: 32px;
	height: 32px;
}
.loader div:nth-child(6) {
	border-width: 4px;
	left: 0px;
	top: -4px;
	width: 40px;
	height: 40px;
}
.loader div:nth-child(7) {
	border-width: 4px;
	left: 0px;
	top: 6px;
	width: 50px;
	height: 50px;
}


@keyframes rotateAnim {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}

@-o-keyframes rotateAnim {
	from {
		-o-transform: rotate(360deg);
	}
	to {
		-o-transform: rotate(0deg);
	}
}

@-ms-keyframes rotateAnim {
	from {
		-ms-transform: rotate(360deg);
	}
	to {
		-ms-transform: rotate(0deg);
	}
}

@-webkit-keyframes rotateAnim {
	from {
		-webkit-transform: rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}

@-moz-keyframes rotateAnim {
	from {
		-moz-transform: rotate(360deg);
	}
	to {
		-moz-transform: rotate(0deg);
	}
}

/* scalerot */

.kurt-1 img,
.kurt-2 img,
.kurt-3 img,
.kurt-4 img,
.kurt-5 img,
.kurt-6 img,
.kurt-7 img,
.kurt-8 img {
    transition: transform 0.3s ease, filter 0.3s ease;
    will-change: transform;
    display: block;
    max-width: 100%; /* Обеспечиваем, чтобы изображение не выходило за пределы контейнера */
}

/* navigation */

.navbar{
    font-family: 'horus';
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
  }


  
  .navbar .media li {
    display: inline-block;
    padding-left: 24px;
  }
  
  .navbar .media li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
  }
  
  .navbar .logo i {
    padding-right: 24px;
  }

  .navbar .logo img {
      height: 60px;
padding: 0 0 0 0;}


h1 {
    width: 70%;
    margin: 0;
    padding: 0;
    font-size: 6em;
    text-align: center;
    font-family: 'horus';
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translateX(-50%) translateY(-50%);
    z-index:10;
    pointer-events: none;
}

.main {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    /* background-color: #b62561; */
    background-color: #060606;
}

.kurt-1 {
    width: 24vw;
    position: absolute;
    left: 5%;
    top: 59%;
    z-index: 1;
}

.kurt-2 {
    width: 25vw;
    position: absolute;
    left: 64%;
    top: 22%;
    z-index: 1;
}

.kurt-3 {
    /* width: 14vw;
    position: absolute;
    left: 21%;
    top: 0%;
    z-index: 1; */
    width: 18vw;
    position: absolute;
    left: 3%;
    top: 7%;
    z-index: 1;
}

.kurt-4 {
    width: 25vw;
    position: absolute;
    left: 49%;
    top: 70%;
    z-index: 1;
}

.kurt-5 {
    width: 18vw;
    position: absolute;
    left: 40%;
    top: 6%;
    z-index: 1;
}

.kurt-6 {
    width: 20vw;
    position: absolute;
    left: 80%;
    top: 42%;
    z-index: 1;
}

.kurt-7 {
    width: 15vw;
    position: absolute;
    left: 27%;
    top: 69%;
    z-index: 1;
}

.kurt-8 {
    width: 12vw;
    position: absolute;
    left: 24%;
    top: 0%;
    z-index: 1;

    /* width: 12vw;
    position: absolute;
    left: 4%;
    top: 11%;
    z-index: 1; */
}



.kurt-1 img, .kurt-2 img, .kurt-3 img, .kurt-4 img, .kurt-5 img, .kurt-6 img, .kurt-7 img,  .kurt-8 img {
    width: 100%;
}


.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: #f17d0d;
    z-index: 0;


}

.zone, .right, .left{
    display: none;
}



/* @media screen and (min-width: 900px) and (max-width : 1100px) {

    h1{
        top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    }

    .kurt-1{
        left: 45%;
        width: 18vw;
    }

    .kurt-2{
        top: 14%;
        left: 69%;
    }

    .kurt-3{
        left: 32%;
        width: 25vw;
    }

    .kurt-4{
        top: 59%;
        left: 6%;
        width: 25vw;
    }

    .kurt-5{
        top: 82%;
        left: 59%;
    }

    .kurt-6{
        width: 19vw;
        top: 62%;
        left: 78%;
    }

    .kurt-7{
        top: 84%;
        left: 26%;
        width: 19vw;
    }

    .kurt-8{
        width: 17vw;
        top: 15%;
    }


} */


@media screen and (max-width: 900px) {
    h1{
        top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3em;
    }

    .overlay-loader{
        top: 39%;
      }

    .kurt-1, .kurt-2, .kurt-3, .kurt-4, .kurt-5, .kurt-6, .kurt-7, .kurt-8{
        display: none;
    }

    #title, #mainBg, #mainOverlay{
        display: none;
    }

    html, body{
        /* background-color: #b62561; */
        background-color: #060606;
        
    }

    #mainOverlay {
        background-color: #060606;  /* Начальный цвет */
        opacity: 0;
        z-index: 0;
        transition: background-color 2s ease, opacity 2s ease; /* Плавный переход для цвета и прозрачности */
    }

    p{
        color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    }

    .navbar{
        display: none;
    }

    html, body{
        overflow: visible;
    }

    .zone{
        display: block;
        margin: 18px auto;
        width: calc(100vw - 2*60px);
        /* position: absolute; */
        z-index: 2;
        top: 0;
    }
    
    .zone img{
        width: 100%;
    }

    .hmobile{
        width: 70%;
    margin: auto;
    padding: 15px 0;
    font-size: 1.5em;
    text-align: center;
    font-family: 'horus';
    text-transform: uppercase;
    }

    .right{
        /* background-color: yellowgreen; */
        display: block;
        position: fixed;
        width: 100vh;
        height: 40px;
        z-index: 2;
        transform: rotate(90deg);
        transform-origin: left top;
        top: 18px;
        left: calc(100vw - 20px);
        font-family: 'horus';
    text-transform: uppercase;
    font-size: 20px;
    
    }



    .right a {
        color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
    }

    .left{
        /* display: flex;
        position: fixed;
        width: 100vh;
        height: 42px;
        z-index: 2;
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: left top;
        font-family: Helvetica;
        text-transform: uppercase;
        font-size: 24px;
        margin-left: 18px; */

        display: flex;
        position: fixed;
        /* background-color: yellowgreen; */
        width: 100vh;
        transform: rotate(270deg) translateX(-100vh);
        transform-origin: left top;
        height: 40px;
        font-family: 'horus';
        text-transform: uppercase;
        font-size: 20px;
        margin-left: 18px;
    
    }

    .lpages{
        margin-left: auto;
    }

    .left a {
        color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
    }

    @media screen and (max-width: 1024px) {
        #container{
            display: none;
        }
    }

    
    



}