* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    
}

html,
body {
    margin: 0;
    /* height: 100%; */
    max-width: 100%;
    overflow: hidden;
}

/* navigation */

.navbar{
    font-family: Helvetica;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
  }


  
  .navbar .media li {
    display: inline-block;
    padding-left: 24px;
    font-style: italic;
  }
  
  .navbar .media li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
  }
  
  .navbar .logo i {
    padding-right: 24px;
  }

  .navbar .logo img {
      height: 60px;
padding: 0 0 0 0;}


h1 {
    width: 70%;
    margin: 0;
    padding: 0;
    font-size: 6em;
    text-align: center;
    font-family: Helvetica;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translateX(-50%) translateY(-50%);
    z-index:0;
    pointer-events: none;
}

.main {
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    background-color: #b62561;
}

.kurt-1 {
    width: 24vw;
    position: absolute;
    left: 5%;
    top: 59%;
    z-index: 1;
}

.kurt-2 {
    width: 20vw;
    position: absolute;
    left: 64%;
    top: 15%;
    z-index: 1;
}

.kurt-3 {
    width: 14vw;
    position: absolute;
    left: 21%;
    top: 0%;
    z-index: 1;
}

.kurt-4 {
    width: 25vw;
    position: absolute;
    left: 49%;
    top: 70%;
    z-index: 1;
}

.kurt-5 {
    width: 15vw;
    position: absolute;
    left: 40%;
    top: 12%;
    z-index: 1;
}

.kurt-6 {
    width: 10vw;
    position: absolute;
    left: 80%;
    top: 82%;
    z-index: 1;
}

.kurt-7 {
    width: 15vw;
    position: absolute;
    left: 27%;
    top: 72%;
    z-index: 1;
}

.kurt-8 {
    width: 12vw;
    position: absolute;
    left: 4%;
    top: 11%;
    z-index: 1;
}



.kurt-1 img, .kurt-2 img, .kurt-3 img, .kurt-4 img, .kurt-5 img, .kurt-6 img, .kurt-7 img,  .kurt-8 img {
    width: 100%;
}


.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #f17d0d;
    z-index: 0;


}

.zone, .right, .left{
    display: none;
}



@media screen and (min-width: 900px) and (max-width : 1100px) {

    h1{
        /* top: 50%;
    left: 50%; */
    transform: translateX(-50%) translateY(-50%);
    }

    .kurt-1{
        left: 45%;
        width: 18vw;
    }

    .kurt-2{
        top: 14%;
        left: 69%;
    }

    .kurt-3{
        left: 32%;
        width: 25vw;
    }

    .kurt-4{
        top: 59%;
        left: 6%;
        width: 25vw;
    }

    .kurt-5{
        top: 82%;
        left: 59%;
    }

    .kurt-6{
        width: 19vw;
        top: 62%;
        left: 78%;
    }

    .kurt-7{
        top: 84%;
        left: 26%;
        width: 19vw;
    }

    .kurt-8{
        width: 17vw;
        top: 15%;
    }


}


@media screen and (max-width: 900px) {
    h1{
        top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 3em;
    }

    .kurt-1, .kurt-2, .kurt-3, .kurt-4, .kurt-5, .kurt-6, .kurt-7, .kurt-8{
        display: none;
    }

    #title, #mainBg, #mainOverlay{
        display: none;
    }

    html, body{
        background-color: #b62561;
        
    }

    p{
        color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    }

    .navbar{
        display: none;
    }

    html, body{
        overflow: visible;
    }

    .zone{
        display: block;
        margin: 18px auto;
        width: calc(100vw - 2*60px);
        /* position: absolute; */
        z-index: 2;
        top: 0;
    }
    
    .zone img{
        width: 100%;
    }

    .hmobile{
        width: 70%;
    margin: auto;
    padding: 15px 0;
    font-size: 1.5em;
    text-align: center;
    font-family: Helvetica;
    text-transform: uppercase;
    }

    .right{
        /* background-color: yellowgreen; */
        display: block;
        position: fixed;
        width: 100vh;
        height: 42px;
        z-index: 2;
        transform: rotate(90deg);
        transform-origin: left top;
        top: 18px;
        left: calc(100vw - 18px);
        font-family: Helvetica;
    text-transform: uppercase;
    font-size: 24px;
    
    }



    .right a {
        color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
    }

    .left{
        /* display: flex;
        position: fixed;
        width: 100vh;
        height: 42px;
        z-index: 2;
        transform: rotate(-90deg) translateX(-100%);
        transform-origin: left top;
        font-family: Helvetica;
        text-transform: uppercase;
        font-size: 24px;
        margin-left: 18px; */

        display: flex;
        position: fixed;
        /* background-color: yellowgreen; */
        width: 100vh;
        transform: rotate(270deg) translateX(-100vh);
        transform-origin: left top;
        height: 42px;
        font-family: Helvetica;
        text-transform: uppercase;
        font-size: 24px;
        margin-left: 18px;
    
    }

    .lpages{
        margin-left: auto;
    }

    .left a {
        color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
    }

    


}