* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    background-color: #992315;
    font-family: 'JetBrains Mono', monospace;
}

html,
body {
    margin: 0;
    overflow: hidden;
}

/* navigation */

.navbar{
    font-family: Helvetica;
    text-transform: uppercase;
    z-index: 2;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 30px;
  }


  
  .navbar .media li {
    display: inline-block;
    padding-left: 24px;
    font-style: italic;
  }
  
  .navbar .media li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  
  }
  
  .navbar .logo i {
    padding-right: 24px;
  }

  .navbar .logo img {
      height: 60px;
padding: 0 0 0 0;}

/* desktop text */

.nazad{
    position: absolute;
    
    font-size: 2em;
    width: 20%;
    top: 68%;
    left: 75%;
    z-index: 1;

    overflow: hidden;
}


h1 {
    width: 80%;
    margin: 0;
    padding: 0;
    font-size: 6em;
    text-align: center;
    font-family: Helvetica;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateX(-50%) translateY(-50%);
    z-index:0;
    pointer-events: none;
}

.main {
    /* height: 100vh; */
    width: 100%;
    overflow-y: hidden;
}

.mazo {
    overflow: hidden;
    /* height: 100vh; */
    width: 100%;
    overflow-y: hidden;
    background-color: #efbd36;
}

.mazframe{
    overflow: hidden;
    /* width: 500px; */
    /* height: 800px; */
    /* position: absolute;
    transform: translateX(-50%) translateY(-50%); */
    top: 50%;
    left: 50%;
}

.hidden_text{
    position: absolute;
    z-index: 0;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;

}

.mazo img {
    max-width: 450px;
    position: absolute;
   
    transform: translateX(-50%) translateY(-50%);

}

.mazo .one{
    top: 57%;
    left: 41%;
    width: 450px;
    z-index: 4;
 }

 .mazo .two {
     top: 48%;
     left: 57%;
     width: 400px;
     z-index:3;
 }

 .mazo .three {
    top: 53%;
    left: 45%;
    width: 450px;
    z-index: 2;
}

.mazo .four {
    top: 45%;
    left: 47%;
    width: 410px;
    z-index: 1;
}

.text-container{
    display: none;
}

@media (max-width: 1200px) {
    .nazad{
        display: none;
    }

    .text-container{
        display: block;
        position: absolute;
        bottom: 0;
        width: 100vw;

    }

    .text-mob{
        width: 70%;
        margin: auto;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .nazad{
        display: none;
    }

    .text-container{
        display: block;
        position: absolute;
        bottom: 0;
        width: 100vw;

    }

    .text-mob{
        width: 70%;
        margin: auto;
        text-align: center;
        z-index: 2;
    }


    .mazo .one, .mazo .two, .mazo .three, .mazo .four{
        top: 50%;
        left: 50%;
        width: 90%;
    }
    
}
